<% include ../partials/header1 %>
<form class="form" action="/coffeehead/coffee/<%=obj.coffeeId%>/<%=obj.commentId%>/reply" method="post">
<label for="usename"> username:</label>
  <input type="text" name="username" >
  <input type="text" name="text" >

  <input type="submit" >
</form>
<% include ../partials/footer1 %>
