<form class="form" action="/coffeehead/beans" method="post">
<label for="beanName"> beanName:</label>
  <input type="text" name="beanName" >
  <label for="origin">Origin</label>
  <input type="text" name="origin">
  <label for="images">images:</label>
  <textarea name="images" ></textarea>
  <label for="paragraphs"> paragraphs</label>
  <textarea  name="paragraphs" ></textarea>
  <input type="submit" >
</form>
