<% include ../partials/header1 %>
<form class="form" action="/coffeehead/coffee" method="post">
<label for="coffeeName"> coffeeName:</label>
  <input type="text" name="coffeeName" >
  <label for="images">images:</label>
  <textarea name="images"  ></textarea>
  <label for="title"> titles</label>
  <textarea  name="title" ></textarea>
  <label for="paragraphs"> paragraphs</label>
  <textarea  name="paragraphs" ></textarea>
  <label for="steps">steps:</label>
  <textarea name="steps"  ></textarea>
  <input type="submit" >
</form>
<% include ../partials/footer1 %>
