<% include ./partials/header1 %>
<div class="row">
  <div class="col-2">
    <ul class="sidebar">
      <li><a href="/coffeehead/beans/addnew"> Add new </a></li>
      <li> <a href="/coffeehead" >Home</a></li>
    <li><a href="/coffeehead/beans">Beans </a></li>
    <li><a href="/coffeehead/coffee"> Coffee</a></li>
    </ul>

  </div>
  <div class="col-10">
    this is where main content of page go  side bar
  </div>
  <% include ./partials/footer1 %>
