<% include ./partials/header1 %>

<div class="row justify-content-center mt-5">
  
  <div class="col-3">
    <div class="p-5 m-3 test" >
        <a style="color:inherit" class="w-100 text-center" href="/coffeehead/beans">
          Coffee Beans
        </a>
    </div>
  </div>
   

    <div class="col-3">
      <div class="p-5 m-3 test">
        <a style="color:inherit"  href="/coffeehead/coffee">
          Coffee
        </a>
      </div>
    </div>
 
</div>
<% include ./partials/footer1 %>
