.test:hover {
  background-color: #fafafa;
  animation: wiggle 0.2s ease infinite;
}
.landing {
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  background-image: url("../images/nolan-issac-It0DCaCBr40-unsplash.jpg");
  position: fixed;
  background-position: center;
  z-index: -2;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(2deg);
  }
  50% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(2deg);
  }
}
