<% include ../partials/header1 %>
<h1 class="m-2">Forgot password</h1>
<form method="post" action="/coffeehead/user/forgotpassword">
<label >Enter Email:</label>
<input type="email" name="email" >
<input type="submit" value="submit">
</form>
<% include ../partials/footer1 %>
